// type
.btn {
	&-border {
		border: 1.5px solid;
	}

	&-link {
		font-weight: normal;
	}

	&-icon {
		&-only {
			width: 24px;
			height: 24px;
			padding: 0;

			.btn {
				&-icon {
					width: 18px;
					min-width: 18px;
					height: 18px;
				}
			}
		}
	}
}
