.form {
	&__label {
		display: inline-block;
		margin: 0 0 8px;

		font-size: 14px;
	}

	&__alert {
		display: block;
		margin: 6px 0 0;

		color: var(--color-danger);
		font-weight: 500;

		font-size: 14px;
	}
}
