.select {
	$bp: &;

	&__main {
		z-index: 9999;

		width: 100%;
	}

	&__dropdown {
		position: relative;

		width: 100%;
		max-height: 230px;
		border: 1px solid var(--color-gray-1);
		border-radius: $radius-secondary;
		overflow-y: auto;

		background-color: var(--bg-primary);
		box-shadow: 0 20px 40px 0 #0000001a;
	}

	&__note {
		padding: 14px;
	}
}
