.radio {
	$bp: &;

	&__label {
		position: relative;

		display: inline-flex;
		align-items: center;

		cursor: pointer;

		p {
			margin: 0;

			font-size: 14px;
		}

		&:active {
			#{$bp} {
				&__replace {
					@include active;
				}
			}
		}

		&:hover {
			#{$bp} {
				&__replace {
					border-color: inherit;
				}
			}
		}
	}

	&__field {
		position: absolute;
		top: 0;
		left: 0;

		width: 0.5px;
		height: 0.5px;

		opacity: 0;

		&:focus-visible {
			& + #{$bp} {
				&__replace {
					@include focus-shadow;
				}
			}
		}

		&:checked {
			& + #{$bp} {
				&__replace {
					&::before {
						opacity: 1;
					}
				}
			}
		}

		&:required {
			.is-valid & + #{$bp}__replace {
				@include is-border-valid;
			}

			.is-invalid & + #{$bp}__replace {
				@include is-border-invalid;
			}
		}
	}

	&__replace {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 20px;
		min-width: 20px;
		height: 20px;
		border: 1px solid var(--color-gray-1);
		border-radius: 100px;

		background-color: var(--bg-primary);

		transition: all $transition-primary;

		&::before {
			display: block;
			width: 12px;
			height: 12px;
			border-radius: 100px;

			background-color: var(--color-brand);

			opacity: 0;

			transition: all $transition-primary;

			content: '';
		}
	}

	&__text {
		margin: 0 0 0 10px;
	}
}
